In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [ ]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [ ]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
# We can view all of the classes that automap found
Base.classes.keys()

In [ ]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
#Get a list of the column names and types for measurrement
inspector = inspect(engine)
inspector.get_table_names()

columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

# Exploratory Climate Analysis

In [ ]:
# How many dates do we have
session.query(func.count(measurement.date)).all()

#What is the ealiest date
session.query(measurement.date).order_by(measurement.date).first()

#What is the latest date 
session.query(measurement.date).order_by(measurement.date.desc()).first()

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
session.query(measurement.date).filter(measurement.date > '2016-08-23').\
    order_by(measurement.date).all()

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data.
sel = [measurement.date, 
       measurement.prcp]
oneYear_precipitation = session.query(*sel).\
    filter(measurement.date > '2016-08-23').all()
oneYear_precipitation

In [ ]:
#Plot the results
df = pd.DataFrame(oneYear_precipitation)
df.set_index('date', inplace=True)
df.plot.bar()
plt.tight_layout()
plt.show()

In [ ]:
# Calculate the date 1 year ago from the last data point in the database
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
query_date

In [ ]:
# Perform a query to retrieve the data and precipitation scores
sel = [measurement.date, 
       measurement.prcp]
oneYear_precipitation = session.query(*sel).\
    filter(measurement.date > '2016-08-23').all()
oneYear_precipitation

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(oneYear_precipitation, columns = ['date','prcp'])
df.set_index('date')
df.head()

In [ ]:
# Sort the dataframe by date
df.sort_index()
# Use Pandas Plotting with Matplotlib to plot the data
df.plot.bar()
plt.tight_layout()
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
station = session.query(measurement) 
for ii in station:
    print(measurement.station)
    
#station = session.query(measurement).filter_by( station ='').count()
#station = session.query(measurement.station).count()
#print(station)

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
USC00519397 = session.query(measurement).filter_by(station = "USC00519397").count()
print(USC00519397)

USC00513117 = session.query(measurement).filter_by(station = "USC00513117").count()
print(USC00513117)
USC00514830 = session.query(measurement).filter_by(station = "USC00514830").count()
print(USC00514830)
USC00517948 = session.query(measurement).filter_by(station = "USC00517948").count()
print(USC00517948)
USC00518838 = session.query(measurement).filter_by(station = "USC00518838").count()
print(USC00518838)
USC00519523 = session.query(measurement).filter_by(station = "USC00519523").count()
print(USC00519523)
USC00519281 = session.query(measurement).filter_by(station = "USC00519281").count()
print(USC00519281)
USC00511918 = session.query(measurement).filter_by(station = "USC00511918").count()
print(USC00511918)
USC00516128 = session.query(measurement).filter_by(station = "USC00516128").count()
print(USC00516128)

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
lowest = session.query(measurement).filter_by(station = "USC00519397").order_by(measurement.prcp.desc()).first()
print(lowest)
# highest temperature recorded, and average temperature of the most active station?
highest = session.query(measurement).filter_by(station = "USC00519397").order_by(measurement.prcp).first()
print(highest)

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
sel2 = [measurement.tobs]

largestStation = session.query(*sel2).filter_by(station = "USC00519281").\
    filter(measurement.date > '2016-08-23').all()
largestStation

In [ ]:
# Create a histogram 
plt.hist(largestStation,5, facecolor='blue', alpha=0.5)
plt.show()